<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="src/assets/img/logo_turbo_navegador.png">

    <title>Reclutamiento Turbomaquinas</title>

    <meta charset="utf-8">
    <meta name="description" content="Página web para reclutamiento de personal">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="src/assets/img/logo_turbo_navegador129x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="src/assets/img/logo_turbo_navegador96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="src/assets/img/logo_turbo_navegador32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="src/assets/img/logo_turbo_navegador16x16.png">
    <link rel="icon" type="image/ico" href="src/assets/img/logo_turbo_navegador.png">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
